<header>
    <section class="view intro-1 hm-stylish-strongs">
        <div class="full-bg-img">
            <div class="container">
                <div class="d-flex ">
                    <div class="row  pt-5 mt-3">
                        <div class="col-md-6 text-center text-md-left mb-5">
                            <h1 class="display-4 wow fadeInLeft text-center" data-wow-delay="0.3s" style="color:white;">ABOUT US</h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <div class=" col-12">
                                <div class="white-text">
                                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s"><strong style="font-weight:500;">VISION:</strong> ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus dolore doloribus!
                                    </h6>
                                    <br>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="white-text">
                                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s"><strong style="font-weight:500;">MISSION:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus doloribus!
                                    </h6>
                                    <br>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="white-text">
                                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s"><strong style="font-weight:500;">GOALS:</strong>Lorem ipsum dolor sit amet, ctemporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
                                    </h6>
                                    <br>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <h1 class="display-4 wow fadeInLeft text-center" data-wow-delay="0.3s" style="color:white;">MEET THE TEAM</h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <div class=" row">
                                <div class="col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-12 col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-12 col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-12 col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class=" row">
                                <div class="col-12 col-md-3 text-left">
                                    <span class=" h3-responsive ">1</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Log on to www.gianisam.com.ng or download the mobile app.(Available in all app stores)</p>
                                </div>
                                <div class="col-12 col-md-2 text-left">
                                    <span class=" h3-responsive ">2</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Locate the sign up feature and proceed either as a farmer or supplier</p>
                                </div>
                                <div class="col-12 col-md-3 text-left">
                                    <span class=" h3-responsive ">3</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Choose your preferred feeds or crops and discussion topics on farming issues</p>

                                </div>
                                <div class="col-12 col-md-2 text-left">
                                    <span class=" h3-responsive ">4</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Setup your profile and connect to farms and crop dealers around you</p>

                                </div>
                                <div class="col-12 col-md-2 text-left">
                                    <span class=" h3-responsive ">5</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Start Farming</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>