.intro-1 {
    background: url("https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/a_090/v1518596190/image13_dfbv1c.jpg")no-repeat center center;
    background-size: cover;
}

.hm-stylish-strongs .full-bg-img,
.hm-stylish-strongs .mask {
    background-color: rgba(162, 194, 61, .7);
}

.caption {
    position: absolute;
    height: 100%;
    width: 100%;
    // right: 15%;
    // bottom: 20px;
    // left: 15%;
    z-index: 10;
    // padding-top: 20px;
    // padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
}

.display-4 {
    font-size: 2.5rem;
}

.text-left {
    text-align: left !important;
}

.team {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-right {
    text-align: right !important;
}

.hm-stylish-strongs .full-bg-img,
.hm-stylish-strongs .mask {
    background-color: rgba(162, 194, 61, .7);
}

.h3-responsive {
    border: 1px solid white;
    padding: 10px 20px;
    background-color: white;
    color: rgb(162, 194, 61);
    font-size: 30px;
    width: 50px;
    font-weight: 600
}

p.align {
    margin-top: 10px;
    font-weight: 500;
}

.font {
    color: #fff !important;
}

.intro-1 {
    background: url("https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/a_090/v1518596190/image13_dfbv1c.jpg")no-repeat center center;
    background-size: cover;
}