.intro-1 {
    background: url("https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/a_090/v1518596190/image13_dfbv1c.jpg")no-repeat center center;
    background-size: cover;
}

.intro-2 {
    background: url("https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518596210/recession-AGRIC_cohdfp.jpg")no-repeat center center;
    background-size: cover;
}

.intro-3 {
    background: url("https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518596185/20160106-beans-vicky-wasik-1_hnjzra.jpg")no-repeat center center;
    background-size: cover;
}