<!--  LANDING PAGE-->
<header>
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-slide class="carousel-item1">
            <div class="view hm-black-light hm-stylish-strong">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="caption">
                <div class="text-left container flex-center">
                    <div class="text-left d-flex align-items-center">
                        <div class="text-left row  pt-5 mt-3">
                            <div class="col-md-8 text-left text-md-left mb-5">
                                <div class="white-text">
                                    <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.3s">To make Agriculture sustainable, the farmer has got to be able to make profit</h1>

                                    <br>
                                    <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-slide>
        <mdb-slide class="carousel-item2">
            <div class="view hm-black-strong">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="caption">
                <div class="text-left container flex-center">
                    <div class="text-left d-flex align-items-center">
                        <div class="text-right row  pt-5 mt-3">
                            <div class="col-md-4 text-right text-md-right mb-5">

                            </div>
                            <div class="col-md-8 text-left text-md-left mb-5">
                                <div class="white-text">
                                    <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.3s">We are dedicated to improving networking in agriculture on a single platform</h1>

                                    <br>
                                    <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-slide>
        <mdb-slide class="carousel-item3">
            <div class="view hm-black-slight">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="caption">
                <div class="text-left container flex-center">
                    <div class="text-left d-flex align-items-center">
                        <div class="text-left row  pt-5 mt-3">
                            <div class="col-md-8 text-left text-md-left mb-5">
                                <div class="white-text">
                                    <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.3s">Preparing a solid foundation, for the farmers, of the new generation.</h1>

                                    <br>
                                    <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-slide>
    </mdb-carousel>
</header>

<!--  ABOUT PAGE-->
<header>
    <section class="view intro-1 hm-stylish-strongs">
        <div class="full-bg-img">
            <div class="container">
                <div class="d-flex ">
                    <div class="row  pt-5 mt-3">
                        <div class="col-md-6 text-center text-md-left mb-5">
                            <h1 class="display-4 wow fadeInLeft text-center" data-wow-delay="0.3s" style="color:white;">ABOUT US</h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <div class=" col-12">
                                <div class="white-text">
                                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s"><strong style="font-weight:500;">VISION:</strong> ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus dolore doloribus!
                                    </h6>
                                    <br>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="white-text">
                                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s"><strong style="font-weight:500;">MISSION:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus doloribus!
                                    </h6>
                                    <br>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="white-text">
                                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s"><strong style="font-weight:500;">GOALS:</strong>Lorem ipsum dolor sit amet, ctemporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
                                    </h6>
                                    <br>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <h1 class="display-4 wow fadeInLeft text-center" data-wow-delay="0.3s" style="color:white;">MEET THE TEAM</h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <div class=" row">
                                <div class="col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-12 col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-12 col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-12 col-md-4 team">
                                    <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517578587/20180127_140429_uqwdam.jpg" alt="..." class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class=" row">
                                <div class="col-12 col-md-3 text-left">
                                    <span class=" h3-responsive ">1</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Log on to www.gianisam.com.ng or download the mobile app.(Available in all app stores)</p>
                                </div>
                                <div class="col-12 col-md-2 text-left">
                                    <span class=" h3-responsive ">2</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Locate the sign up feature and proceed either as a farmer or supplier</p>
                                </div>
                                <div class="col-12 col-md-3 text-left">
                                    <span class=" h3-responsive ">3</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Choose your preferred feeds or crops and discussion topics on farming issues</p>

                                </div>
                                <div class="col-12 col-md-2 text-left">
                                    <span class=" h3-responsive ">4</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Setup your profile and connect to farms and crop dealers around you</p>

                                </div>
                                <div class="col-12 col-md-2 text-left">
                                    <span class=" h3-responsive ">5</span><i style="padding-left:5px; color:white;" class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
                                    <p class="font align">Start Farming</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<!--  SHOPPING PAGE-->

<section>
    <div class="container">
        <h2 style="margin:20px auto; font-weight:500; color:rgb(162, 194, 61);" class="h2-responsive text-center">OUR SHOP</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect">
                        <div class="margin">
                            <div class="row">
                                <div class="col-6">
                                    <h3 style="margin:0; font-weight:500;">CHICKEN</h3>
                                    <p style="margin:0;">Ogun/Mowe</p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Add to Cart</a>
                                    <a style="margin-left:0;padding-left:2.1rem; padding-right:2.1rem;" class=" btn btn-sm btn-indigo waves-light" mdbRippleRadius>WishList</a>
                                </div>
                                <div class="col-6">
                                    <img style="width:100px;" class=" " src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519780689/radar_1_pxcz7q.png" alt="radar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--  FORUM PAGE-->

<section>
    <div class="container-fluid">
        <h2 style="margin:20px auto; font-weight:500; color:rgb(162, 194, 61);" class="h2-responsive text-center">ONLINE FORUM</h2>
        <div class="row">
            <div class="col-12 col-lg-8" style="height:100vh;overflow-y: scroll;">
                <div style="height: 100vh" class="mb-3 view intro-2 hm-stylish-strong">
                    <div class="full-bg-img">
                        <div class="container flex-center">
                            <div class="d-flex align-items-center">
                                <div class="row pt-5 mt-3">
                                    <div class="col-md-12 wow fadeIn mb-3">
                                        <div class="text-center" style="color: white;">
                                            <ul>
                                                <li>
                                                    <h1 class="display-4 font-bold mb-3 wow fadeInUp">EXCLUSIVE OFFERS FOR MAIZE FARMERS</h1>
                                                </li>
                                                <li>
                                                    <h5 class="mb-5 wow fadeInUp" data-wow-delay="0.2s">Maize is highly sought especially in countries like uganda because of its dual function both as income generating cash crop and as a stable crop improving food security. Read More...
                                                    </h5>
                                                </li>
                                                <li class="wow fadeInUp" data-wow-delay="0.4s">
                                                    <a class="btn btn-outline-secondary btn-rounded waves-light" mdbRippleRadius><i class="fa fa-book left"></i> Learn more</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 100vh" class=" mb-3 view intro-3 hm-stylish-strong">
                    <div class="full-bg-img">
                        <div class="container flex-center">
                            <div class="d-flex align-items-center">
                                <div class="row pt-5 mt-3">
                                    <div class="col-md-12 wow fadeIn mb-3">
                                        <div class="text-center" style="color: white;">
                                            <ul>
                                                <li>
                                                    <h1 class="display-4 font-bold mb-3 wow fadeInUp">EXCLUSIVE OFFERS FOR MAIZE FARMERS</h1>
                                                </li>
                                                <li>
                                                    <h5 class="mb-5 wow fadeInUp" data-wow-delay="0.2s">Maize is highly sought especially in countries like uganda because of its dual function both as income generating cash crop and as a stable crop improving food security. Read More...
                                                    </h5>
                                                </li>
                                                <li class="wow fadeInUp" data-wow-delay="0.4s">
                                                    <a class="btn btn-outline-secondary btn-rounded waves-light" mdbRippleRadius><i class="fa fa-book left"></i> Learn more</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4" style="height:100vh;overflow-y: scroll;">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <!--Card image-->
                            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                                <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518596181/Chickens-For-Sale-10-200-available-now_2_eiwuxv.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">This month featured Farm</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content....</p>
                                <a class="btn btn-primary waves-light" mdbRippleRadius>Read More</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">

                            <!--Card image-->
                            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                                <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518596179/images_8_patrnb.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Review From Top Farm Enterpreneurs</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content....</p>
                                <a class="btn btn-primary waves-light" mdbRippleRadius>Read More</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SUBSCRIBE PAGE-->

<section style="padding-top: 50px;">
    <h1 class="display-3 text-center">SUBSCRIBE TODAY</h1>
    <hr style="color: white;">
    <p style="font-weight:500" class=" text-center bold">Don’t miss out on great offers!! Sign up to our newsletter for updates</p>
    <div class="row">

        <div class="col-12 col-lg-5">
            <img style="margin-left: 25%;" src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518642783/logo_cwfvpx.jpg">
        </div>
        <div class="col-12 col-lg-7">
            <form style="padding-top: 60px;">
                <div class=" field-holder md-form">
                    <input type="email" class=" form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <div class=" button-group align-center" style="margin-left: 25%;">
                        <button type="button" class="btn btn-holder align-center">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>