<section class="container">
    <h1 class="h1-responsive text-center bold mb-3">Welcome to the Giani Sam Help Center</h1>

    <div class=" align-content-center justify-content-center">
        <div class="card">
            <div class="card-header" (click)="isCollapsed = !isCollapsed">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ut! <i *ngIf="!isCollapsed; else arrowUp " style="text-align: right !important;" class="fa fa-angle-down pull-right"></i>
                <ng-template #arrowUp><i style="text-align: right !important;" class="fa fa-angle-up pull-right"></i></ng-template>
            </div>
            <div class="card-body" *ngIf="isCollapsed">
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, rerum! Dolor, fugiat officia laboriosam vitae delectus ex sapiente iure ut nemo repudiandae ullam at sit exercitationem dolore, voluptas soluta natus.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header" (click)="isCollapsed1 = !isCollapsed1">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ut! <i *ngIf="!isCollapsed; else arrowUp " style="text-align: right !important;" class="fa fa-angle-down pull-right"></i>
                <ng-template #arrowUp><i style="text-align: right !important;" class="fa fa-angle-up pull-right"></i></ng-template>
            </div>
            <div class="card-body" *ngIf="isCollapsed1">
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, rerum! Dolor, fugiat officia laboriosam vitae delectus ex sapiente iure ut nemo repudiandae ullam at sit exercitationem dolore, voluptas soluta natus.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header" (click)="isCollapsed2 = !isCollapsed2">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ut! <i *ngIf="!isCollapsed; else arrowUp " style="text-align: right !important;" class="fa fa-angle-down pull-right"></i>
                <ng-template #arrowUp><i style="text-align: right !important;" class="fa fa-angle-up pull-right"></i></ng-template>
            </div>
            <div class="card-body" *ngIf="isCollapsed2">
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, rerum! Dolor, fugiat officia laboriosam vitae delectus ex sapiente iure ut nemo repudiandae ullam at sit exercitationem dolore, voluptas soluta natus.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header" (click)="isCollapsed3 = !isCollapsed3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ut! <i *ngIf="!isCollapsed; else arrowUp " style="text-align: right !important;" class="fa fa-angle-down pull-right"></i>
                <ng-template #arrowUp><i style="text-align: right !important;" class="fa fa-angle-up pull-right"></i></ng-template>
            </div>
            <div class="card-body" *ngIf="isCollapsed3">
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, rerum! Dolor, fugiat officia laboriosam vitae delectus ex sapiente iure ut nemo repudiandae ullam at sit exercitationem dolore, voluptas soluta natus.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header" (click)="isCollapsed4 = !isCollapsed4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ut! <i *ngIf="!isCollapsed; else arrowUp " style="text-align: right !important;" class="fa fa-angle-down pull-right"></i>
                <ng-template #arrowUp><i style="text-align: right !important;" class="fa fa-angle-up pull-right"></i></ng-template>
            </div>
            <div class="card-body" *ngIf="isCollapsed4">
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, rerum! Dolor, fugiat officia laboriosam vitae delectus ex sapiente iure ut nemo repudiandae ullam at sit exercitationem dolore, voluptas soluta natus.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header" (click)="isCollapsed5 = !isCollapsed5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ut! <i *ngIf="!isCollapsed; else arrowUp " style="text-align: right !important;" class="fa fa-angle-down pull-right"></i>
                <ng-template #arrowUp><i style="text-align: right !important;" class="fa fa-angle-up pull-right"></i></ng-template>
            </div>
            <div class="card-body" *ngIf="isCollapsed5">
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, rerum! Dolor, fugiat officia laboriosam vitae delectus ex sapiente iure ut nemo repudiandae ullam at sit exercitationem dolore, voluptas soluta natus.</p>
            </div>
        </div>
    </div>
</section>