<header class="masthead" style="background-image: url('https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1519341345/soybeans7_dxbttw.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <img class="img-thumbnails" src="http://res.cloudinary.com/dn1b66xo5/image/upload/v1517578587/20180127_140429_uqwdam.jpg">
                    <div class="rect" style="padding-left:50px;">
                        <div class="margin">
                            <div class="row">
                                <div class="col-12" style="color: black;">
                                    <h3 style="margin:0; font-weight:500;">CAPE VILLE FARMS</h3>
                                    <p style="margin:0;">Ogun/Mowe &nbsp;<span> &nbsp; 0 Investments</span></p>
                                    <a style="margin:0;" class=" btn btn-sm btn-yellow waves-light" mdbRippleRadius>Edit Profile</a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section style="padding-top: 1.5rem;">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8" style="border-right: 1px solid rgba(0, 0, 0, 0.1);">
                <h1 class=" text-center">FARM PRODUCTS</h1>
                <div class="row ">
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                                <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518596181/gettyimages-182717335-30-355069be313ad674537c51219c269b654d5fc05a-s900-c85_b6p2bo.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">CHIKE'S FARM</h4>
                                <!--Text-->
                                <p class="card-text">Pineapples 12% Investments</p>
                                <h2 class="card-text">250 &nbsp;<i class="fa fa-user"></i></h2>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                                <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518596184/variety-tomatoes.jpg.838x0_q80_fbsabk.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">CROP CROWD</h4>
                                <!--Text-->
                                <p class="card-text">Vegetables 12% Investments</p>
                                <h2 class="card-text">720 &nbsp;<i class="fa fa-user"></i></h2>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                                <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1518596185/20160106-beans-vicky-wasik-1_hnjzra.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">CROP CROWD</h4>
                                <!--Text-->
                                <p class="card-text">Tomatoes 18% Investments</p>
                                <h2 class="card-text">420 &nbsp;<i class="fa fa-user"></i></h2>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-4">
                <h1>MY CLIENTS</h1>


            </div>
        </div>
    </div>


</section>