header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-yellow {
    background-color: #92b23e !important;
}

.img-thumbnails {
    width: 150px;
    border-radius: 100%;
    border: 0;
    padding: 5px;
    margin-left: 10px;
    position: absolute;
    z-index: 1000;
}

@media (max-width:767px) {
    .img-thumbnails {
        left: 0px;
        top: 278px;
    }
}

@media (min-width:768px) {
    .img-thumbnails {
        left: -60px;
        top: 330px;
    }
}

.rect {
    width: 400px;
    height: 60px;
    border: 0px;
    display: inline-block;
    position: absolute;
    display: block;
    // left: 40px;
    border-left: 0px;
    border-bottom: 0px;
    // top: 400px;
    /* z-index: 1000; */
}

@media (min-width:767px) {
    .rect {
        left: 40px;
        top: 400px;
    }
}

@media (max-width:768px) {
    .rect {
        left: 100px;
        top: 350px
    }
}

header {
    height: 30%;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0;
    }
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px;
    }
}

header.masthead .post-heading h1 {
    font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }
    header.masthead .post-heading .subheading {
        font-size: 30px;
    }
}

// .img-thumbnails {
//     width: 150px;
//     border-radius: 100%;
//     border: 5px solid green;
//     padding: 5px;
//     margin-left: 10px;
//     position: absolute;
// }
// img {
//     z-index: 1000;
// }
// .margin {
//     margin-left: 120px
// }
// .rects {
//     top: 2px;
//     width: 300px;
//     height: 300px;
//     border: 3px solid green;
//     display: inline-block;
//     position: relative;
//     display: block;
//     left: 80px;
//     z-index: -1000
// }