<footer class="  page-footer  center-on-small-only" style="color: white !important; padding-top:0px;">
    <section class="view intro-2 hm-stylish-strong">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="  row" style=" padding-top:80px;">
                    <div class="col-12 col-lg-4 vl" style="margin-bottom:50px;">
                        <h4>POPULAR LOCATIONS</h4>
                        <ul class="only nodes">
                            <li>Lagos</li>
                            <li>Abuja</li>
                            <li>Kaduna</li>
                            <li>Kano</li>
                            <li>Port-Harcourt</li>
                            <li>Onitsha</li>
                            <li>Calabar</li>
                            <li>Akure</li>
                            <li>Oyo</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-4 vl align" style="margin-bottom:50px;">
                        <h4>COMPANY</h4>
                        <ul class="only nodes">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Our Shop</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> How it works</a></li>
                            <li><a routerLink="/"><i class="fa fa-angle-double-right"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Terms and Conditions</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Privacy Policies</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-lg-4 align last" style="margin-bottom:50px;">
                        <h4>CONTACT US</h4>
                        <ul class=" nodes ">
                            <li class="list"><i class="fa fa-phone add one" aria-hidden="true"></i>
                                <span>0800-000-0000</span>
                            </li>
                            <li class="list"><i class="fa fa-envelope add two" aria-hidden="true"></i>
                                <span>info@gianisam.com</span>
                            </li>
                            <li><i class="fa fa-map-marker add three" aria-hidden="true"></i>
                                <span>Head Office: </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="text-center mb-3 bot vh">
                            <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
                            <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
                            <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
                            <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

</footer>